<!DOCTYPE html>
<title>{% block title %}{% endblock %} - OPUS MOTUS</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>OPUS MOTUS</h1>
    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
        <div class="site-branding d-flex align-items-center">
            <a class="d-block" href="" rel="home"><img class="d-block" src="n.png" alt="logo"></a>
        </div><!-- .site-branding -->
    </div>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>