<!DOCTYPE html>
<html lang="en">
<head>
    <title>Take A Photo Of Your Current Activity</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    
    <!-- Icon -->
    <link rel="shortcut icon" href="img/logo.png">

</head>
<body>
    
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="" rel="home"><img class="d-block" src="img/logo.png" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li><span>{{ g.user['username'] }}</span>
                                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="home-page-events title_">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="upcoming-events" id="content">
                        <div class="section-heading">
                            <h2 class="entry-title">Take photo of your current activity!</h2>
                        </div><!-- .section-heading -->
                    </div><!-- .upcoming-events -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-events -->

    <div class="home-page-events home_">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="upcoming-events" id="content">
                        <div class="section-heading">
                            <video id="player" controls autoplay onplay="resize_canvas(this)"></video>
                            <canvas id="canvas"></canvas>
                            <button class="btn btn1" id="capture">Capture</button>
                            <button class="btn" id="send" disabled="true">Send</button>
                        </div><!-- .section-heading -->
                    </div><!-- .upcoming-events -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-events -->

    <footer class="site-footer">
        <div class="footer-bar footer_">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0">Opus Motus @ Capture</p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
    <script src="./server.js"></script>
    <script>
          function resize_canvas(element) {
            var w = element.offsetWidth;
            var h = element.offsetHeight;
            var cv = document.getElementById("canvas");
            cv.width = w;
            cv.height = h;
          }

          const canvas = document.getElementById('canvas');
          const context = canvas.getContext('2d');
          const captureButton = document.getElementById('capture');

          const constraints = {
            video: true,
          };

          captureButton.addEventListener('click', () => {
            if ($("#capture").text() == "Capture") {
                context.drawImage(player, 0, 0, canvas.width, canvas.height);
                $("#capture").text('Re-capture');
                $("#send").prop('disabled', false);
            }
            else {
                context.clearRect(0, 0, context.canvas.width, context.canvas.height);
                $("#capture").text('Capture');
                $("#send").prop('disabled', true);
            }
          });

          $("#popup_b").click(() => {
            context.clearRect(0, 0, context.canvas.width, context.canvas.height);
            $("#popup_").css('display', 'none');  
            $("#capture").text('Capture');
            $("#send").prop('disabled', true);
          });

          $("#send").click(() => {
                var img = canvas.toDataURL();
                console.log("Sending request to server")
                $.ajax({
                  type: "POST",
                  url: SERVER_URL + "/api/uploadImage",
                  data: {
                      "image": img
                  },
                  success: function(response) {
                    if (response == "0") {
                        $("#popup_t").text("Thank you, the image has been successfully uploaded. Have a nice day!");
                        window.location.href="./patient_details.html" // Redirect
                    }
                    else if (response == "1") {
                        $("#popup_t").text("It seems like you closed your eyes. Please, take a photo with both eyes opened.");
                    }
                    else if (response == "2") {
                        $("#popup_t").text("Unfortunately, we were not able to identify your face on the photo. Please, try taking another one.");
                    }
                    $("#popup_").css('display', 'block');  
                  }
                }).error((xhr, text, errorThrown) => {
                    console.log("error", text, errorThrown)
                });
          });

          // Attach the video stream to the video element and autoplay.
          navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
              player.srcObject = stream;
            });
    </script>


</body>
</html>